/* ----------------------------------- *\
			items styles
\* ----------------------------------- */

.elm-photo, .tile-photo {
	&.photo-play {
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: fade(#000, 40) url(../img/icons/play.svg) center no-repeat;
			background-size: 32px auto;
		}
	}
}
.elm-attach, .tile-attach {
	&:has(.button-file-del) {
		padding-right: 30px;
		display: inline-flex;
		.attach-title {
			position: static;
		}
	}
	.button-file-del {
		width: 24px;height: 24px;
		position: absolute;
		top: 50%;right: 0;
		margin-top: -12px;
		&:not(:hover) {
			filter: var(--filterAttToGray);
		}
	}
}
.elm-verify {
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	font-weight: 300;
	max-width: calc(100% - 30px);
	line-height: 20px;
	position: relative;
	color: #fff;
	padding: 5px 12px 5px 33px;
	border-radius: 15px 0 0 15px;
	background: #00B00C;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;bottom: 0;left: 100%;
		width: 14px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='189' height='31' viewBox='0 0 189 31' fill='none'%3E%3Cg filter='url(%23filter0_d_2303_7779)'%3E%3Cpath d='M15.4961 30.9922C6.93783 30.9922 8.27329e-08 24.0543 1.84789e-07 15.4961C2.86845e-07 6.93784 6.93784 -1.82462e-06 15.4961 -1.72256e-06L187 3.22604e-07L174.034 15.4961L187 30.9922L15.4961 30.9922Z' fill='%2300B00C'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2303_7779' x='0' y='0' width='189' height='30.9922' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2303_7779'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2303_7779' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
		background-size: auto 100%;
		background-position: right center;
		background-repeat: no-repeat;
	}
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/succefull-check.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 16px;
		margin: -12px 0 0 -12px;
		filter: var(--filter-white);
	}
}
.elm-attention-anchor {
	display: block;
	position: absolute;
	top: 0;right: 0;
	z-index: 3;
	pointer-events: none;
	background: url(../img/icons/attention.svg) 0 0 no-repeat;
	background-size: 100% auto;
	aspect-ratio: 46/59;
	width: 46px;
	height: auto;
	flex-shrink: 0;
	img, svg {
		display: block;
		width: 32px;
		position: absolute;
		top: 43%;left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		filter: var(--filter-white);
	}
}
.elm-info-article {
	display: flex;
	align-items: center;
	min-height: 30px;;
	height: 100%;
	font-size: 14px;
	line-height: 1.25;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	text-align: left;
	border: 1px solid #E0E0E0;
	padding: 4px 9px;
	max-width: 100%;
	flex-shrink: 0;
	gap: 10px;
	transition: all ease 0.2s;
	color: var(--clr-base);
	.elm-rate-panel {
		padding: 0;
		height: auto;
		border-radius: 0;
		border: none;
		color: inherit;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 1px;height: 18px;
			background: #e0e0e0;
			position: absolute;
			top: 50%;left: 100%;
			margin-left: 4px;
			margin-top: -9px;
		}
	}
	&:has(.elm-ico:only-child) {
		padding-left: 6px;
		padding-right: 6px;
	}
	&:has(.elm-photo) {
		overflow: visible;
	}
	.elm-ico {
		width: 16px;height: 16px;
		filter: var(--filterAttToBase);
	}
	.info-title {
		color: #8B8B8B;
	}
	.info-total {
		margin-left: 4px;
		padding-left: 8px;
		border-left: 1px solid currentColor;
	}
	.elm-photo {
		aspect-ratio: inherit;
		height: calc(100% + 10px);
		margin-top: -5px;
		margin-bottom: -5px;
		width: 98px;
		border-radius: 6px;
		min-height: 30px;
	}
	a {
		&:not(:hover) {
			color: inherit;
		}
	}
}
a.elm-info-article {
	&:hover {
		border-color: var(--clr-att);
	}
}
.elm-separator {
	width: 100%;
	flex: 1;
}
.elm-status, .tile-status {
	// &.type-new {
	// 	border-color: #BCD7FF;
	// 	background-color: #E6EEFA;
	// 	color: var(--clr-att);
	// }
	// &.type-succefull {
	// 	border-color: #AEE6B5;
	// 	background-color: #EFF7EC;
	// 	color: #009D12;
	// }
	// &.type-alert {
	// 	border-color: #FCD1CD;
	// 	background-color: #FEE1DE;
	// 	color: #FF4633;;
	// }
	&.type-blue {
		border-color: #6155F5;
		background-color: #fff;
		color: #6155F5;;
	}
	&.type-orange {
		border-color: #FF8D28;
		background-color: #fff;
		color: #FF8D28;;
	}
	&.type-violet {
		border-color: #CB30E0;
		background-color: #fff;
		color: #CB30E0;;
	}
}
.elm-sticker, .tile-sticker {
	&.type-gray {
		background-color: var(--clr-bg-light);
		border-color: var(--clr-bg-light);
		color: #161616;
	}
	&.type-table {
		height: 21px;
		padding: 0 7px;
		border-radius: 30px;
		font-size: 10px;
		font-weight: 300;
		line-height: 21px;
	}
}
.elm-rate-panel {
	display: inline-flex;
	align-items: center;
	height: 29px;
	border-radius: 6px;
	padding: 0 8px 0 8px;;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #161616;
	border: 1px solid #E0E0E0;
	gap: 4px;
	&.js-btn-tgl {
		cursor: pointer;
		&:hover {
			border-color: #c0c0c0;
		}
	}
	.rate-link {
		font-size: 12px;
		font-weight: 300;
		color: #525252;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	&>.elm-rate {

	}
	.rate-total {
		flex-shrink: 0;
		display: block;
		padding-top: 2px;
	}
	.rate-title {
		flex: 1;
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 12px;
		font-weight: 300;
		color: #525252;
		line-height: 20px;
		height: 18px;
	}
	.rate-total-main {
		display: block;
		position: relative;
		flex-shrink: 0;
		font-size: 12px;
		font-weight: 400;
		padding: 0 0 0 21px;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/rate-full.svg) center no-repeat;
			background-size: 16px auto;
			top: 50%;left: 8px;
			margin: -13px 0 0 -12px;
			filter: brightness(0.95);
		}
	}
}
.elm-rate {
	width: 16px;
	height: 16px;
	display: block;
	position: relative;
	background: url(../img/icons/rate.svg) center no-repeat;
	background-size: 24px auto;
	filter: none;
}
.elm-rates {
	display: flex;
	justify-content: space-between;
	width: 96px;
	height: 16px;
	line-height: 1;
	&[data-rate="4"] {
		.elm-rate {
			&:nth-child(5) {
				filter: brightness(0.7) grayscale(1);
			}
		}
	}
	&[data-rate="3"] {
		.elm-rate {
			&:nth-child(4),
			&:nth-child(5) {
				filter: brightness(0.7) grayscale(1);
			}
		}
	}
	&[data-rate="2"] {
		.elm-rate {
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				filter: brightness(0.7) grayscale(1);
			}
		}
	}
	&[data-rate="1"] {
		.elm-rate {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				filter: brightness(0.7) grayscale(1);
			}
		}
	}
	&[data-rate="0"] {
		.elm-rate {
			filter: brightness(0.7) grayscale(1);
		}
	}
}
.elm-rate {
	&[data-rate="01"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="02"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="03"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="04"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="05"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="06"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="07"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="08"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="09"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="1"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="2"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="3"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="4"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="5"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="6"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="7"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="8"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="9"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="10"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="11"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="12"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="13"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="14"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="15"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="16"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="17"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="18"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="19"] {filter: brightness(1.8) contrast(0.7) saturate(0);;}
	&[data-rate="20"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="21"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="22"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="23"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="24"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="25"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="26"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="27"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="28"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="29"] {filter: brightness(0.6) contrast(0.8) saturate(0) hue-rotate(0deg);;}
	&[data-rate="30"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="31"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="32"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="33"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="34"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="35"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="36"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="37"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="38"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="39"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="40"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="41"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="42"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="43"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="44"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="45"] {filter: brightness(0.8) contrast(1.2) saturate(0.7) hue-rotate(-10deg);}
	&[data-rate="46"] {filter: none;}
	&[data-rate="47"] {filter: none;}
	&[data-rate="48"] {filter: none;}
	&[data-rate="49"] {filter: none;}
	&[data-rate="50"] {filter: none;}
	&[data-rate="51"] {filter: none;}
	&[data-rate="52"] {filter: none;}
	&[data-rate="53"] {filter: none;}
	&[data-rate="54"] {filter: none;}
	&[data-rate="55"] {filter: none;}
	&[data-rate="56"] {filter: none;}
	&[data-rate="57"] {filter: none;}
	&[data-rate="58"] {filter: none;}
	&[data-rate="59"] {filter: none;}
	&[data-rate="60"] {filter: none;}
	&[data-rate="61"] {filter: none;}
	&[data-rate="62"] {filter: none;}
	&[data-rate="63"] {filter: none;}
	&[data-rate="64"] {filter: none;}
	&[data-rate="65"] {filter: none;}
	&[data-rate="66"] {filter: none;}
	&[data-rate="67"] {filter: none;}
	&[data-rate="68"] {filter: none;}
	&[data-rate="69"] {filter: none;}
	&[data-rate="70"] {filter: none;}
	&[data-rate="71"] {filter: none;}
	&[data-rate="72"] {filter: none;}
	&[data-rate="73"] {filter: none;}
	&[data-rate="74"] {filter: none;}
	&[data-rate="75"] {filter: none;}
	&[data-rate="76"] {filter: none;}
	&[data-rate="77"] {filter: none;}
	&[data-rate="78"] {filter: none;}
	&[data-rate="79"] {filter: none;}
	&[data-rate="80"] {filter: none;}
	&[data-rate="81"] {filter: none;}
	&[data-rate="82"] {filter: none;}
	&[data-rate="83"] {filter: none;}
	&[data-rate="84"] {filter: none;}
	&[data-rate="85"] {filter: none;}
	&[data-rate="86"] {filter: none;}
	&[data-rate="87"] {filter: none;}
	&[data-rate="88"] {filter: none;}
	&[data-rate="89"] {filter: none;}
	&[data-rate="90"] {filter: none;}
	&[data-rate="91"] {filter: none;}
	&[data-rate="92"] {filter: none;}
	&[data-rate="93"] {filter: none;}
	&[data-rate="94"] {filter: none;}
	&[data-rate="95"] {filter: none;}
	&[data-rate="96"] {filter: none;}
	&[data-rate="97"] {filter: none;}
	&[data-rate="98"] {filter: none;}
	&[data-rate="99"] {filter: none;}
	&[data-rate="100"] {filter: none;}
}