/* ----------------------------------- *\
			structura
\* ----------------------------------- */
.header {
	.info-inner-wrap {
		font-size: 14px;
		line-height: 17px;
		color: var(--clr-base);
		text-align: left;
		order: 1;
		font-weight: 600;
		padding-left: 30px;
		padding-right: 30px;
		flex: 1;
		flex-shrink: 0;
		text-wrap: pretty;
		text-align: center;
		&+.menu-inner-wrap {
			flex: 0 0 auto;
		}
		.info-title {
			text-wrap: pretty;
		}
		.frm-select-toggle {
			font-weight: 400;
			margin-top: 5px;
			display: inline-block;
			text-align: left;
		}
	}
	.menu-inner-wrap {
		.info-inner-wrap {
			padding: 0 15px;
			width: 100%;
			max-width: 100%;
			display: none;
			text-align: center;
		}
	}
	.logo-inner-wrap {
		order: -1;
	}
	.text-att {
		display: inline;
		font-size: 1.4em;
		font-weight: bold;
	}
}

@media (max-width: 1023px) {
	.wrap {
		&:has(.breadcrumbs-box) {
			.header {
				margin-bottom: 10px;
			}
		}
		.info-inner-wrap {
			padding-right: 15px;
			text-align: left;
		}
	}
}
@media (max-width: 639px) {
	.header {
		.info-inner-wrap {
			display: none;
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.header {
		&:has(.info-inner-wrap) {
			.logo-inner-wrap {
				flex: 0 0 auto;
			}
			.info-inner-wrap {
				width: auto;
				flex: 1;
			}
		}
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.header {
		&:has(.info-inner-wrap) {
			.logo-inner-wrap {
				flex: 0 0 auto;
			}
		}
		.info-inner-wrap {
			flex: 1;
			padding-left: 30px;
		}
	}
}
@media (min-width: 1024px) {
	.wrap {
		&:has(.breadcrumbs-box) {
			.header {
				margin-bottom: 0;
			}
		}
	}
}