/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-calendar {
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: var(--clr-light);
	.tile-title {
		margin-bottom: 20px;
	}
	.tile-info {
		font-weight: 600;
		color: #121212;;
	}
}
.item-tile-scale {
	display: block;
	position: relative;
	overflow: hidden;
	.tile-scale-title-wrap {
		flex-wrap: wrap;
		margin: 13px -19px 0 0;
		display: none;
	}
	.tile-scale-wrap {
		display: flex;
		position: relative;
		overflow: hidden;
	}
	.tile-scale {
		flex: 1;
		height: 20px;
		border-radius: 1px;
	}
	.tile-scale-title {
		flex-shrink: 0;
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
		letter-spacing: 0.6px;
		position: relative;
		padding: 0 19px 0 7px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;left: 0;
			width: 4px;
			height: 10px;
			margin-top: -5px;
			background: currentColor;
			border-radius: 1px;
		}
	}
	[data-scale="01"] {
		flex-shrink: 0;
		flex: 0 0 01%;
		width: 01%;
	}
	[data-scale="02"] {
		flex-shrink: 0;
		flex: 0 0 02%;
		width: 02%;
	}
	[data-scale="03"] {
		flex-shrink: 0;
		flex: 0 0 03%;
		width: 03%;
	}
	[data-scale="04"] {
		flex-shrink: 0;
		flex: 0 0 04%;
		width: 04%;
	}
	[data-scale="05"] {
		flex-shrink: 0;
		flex: 0 0 05%;
		width: 05%;
	}
	[data-scale="06"] {
		flex-shrink: 0;
		flex: 0 0 06%;
		width: 06%;
	}
	[data-scale="07"] {
		flex-shrink: 0;
		flex: 0 0 07%;
		width: 07%;
	}
	[data-scale="08"] {
		flex-shrink: 0;
		flex: 0 0 08%;
		width: 08%;
	}
	[data-scale="09"] {
		flex-shrink: 0;
		flex: 0 0 09%;
		width: 09%;
	}
	[data-scale="10"] {
		flex-shrink: 0;
		flex: 0 0 10%;
		width: 10%;
	}
	[data-scale="11"] {
		flex-shrink: 0;
		flex: 0 0 11%;
		width: 11%;
	}
	[data-scale="12"] {
		flex-shrink: 0;
		flex: 0 0 12%;
		width: 12%;
	}
	[data-scale="13"] {
		flex-shrink: 0;
		flex: 0 0 13%;
		width: 13%;
	}
	[data-scale="14"] {
		flex-shrink: 0;
		flex: 0 0 14%;
		width: 14%;
	}
	[data-scale="15"] {
		flex-shrink: 0;
		flex: 0 0 15%;
		width: 15%;
	}
	[data-scale="16"] {
		flex-shrink: 0;
		flex: 0 0 16%;
		width: 16%;
	}
	[data-scale="17"] {
		flex-shrink: 0;
		flex: 0 0 17%;
		width: 17%;
	}
	[data-scale="18"] {
		flex-shrink: 0;
		flex: 0 0 18%;
		width: 18%;
	}
	[data-scale="19"] {
		flex-shrink: 0;
		flex: 0 0 19%;
		width: 19%;
	}
	[data-scale="20"] {
		flex-shrink: 0;
		flex: 0 0 20%;
		width: 20%;
	}
	[data-scale="21"] {
		flex-shrink: 0;
		flex: 0 0 21%;
		width: 21%;
	}
	[data-scale="22"] {
		flex-shrink: 0;
		flex: 0 0 22%;
		width: 22%;
	}
	[data-scale="23"] {
		flex-shrink: 0;
		flex: 0 0 23%;
		width: 23%;
	}
	[data-scale="24"] {
		flex-shrink: 0;
		flex: 0 0 24%;
		width: 24%;
	}
	[data-scale="25"] {
		flex-shrink: 0;
		flex: 0 0 25%;
		width: 25%;
	}
	[data-scale="26"] {
		flex-shrink: 0;
		flex: 0 0 26%;
		width: 26%;
	}
	[data-scale="27"] {
		flex-shrink: 0;
		flex: 0 0 27%;
		width: 27%;
	}
	[data-scale="28"] {
		flex-shrink: 0;
		flex: 0 0 28%;
		width: 28%;
	}
	[data-scale="29"] {
		flex-shrink: 0;
		flex: 0 0 29%;
		width: 29%;
	}
	[data-scale="30"] {
		flex-shrink: 0;
		flex: 0 0 30%;
		width: 30%;
	}
	[data-scale="31"] {
		flex-shrink: 0;
		flex: 0 0 31%;
		width: 31%;
	}
	[data-scale="32"] {
		flex-shrink: 0;
		flex: 0 0 32%;
		width: 32%;
	}
	[data-scale="33"] {
		flex-shrink: 0;
		flex: 0 0 33%;
		width: 33%;
	}
	[data-scale="34"] {
		flex-shrink: 0;
		flex: 0 0 34%;
		width: 34%;
	}
	[data-scale="35"] {
		flex-shrink: 0;
		flex: 0 0 35%;
		width: 35%;
	}
	[data-scale="36"] {
		flex-shrink: 0;
		flex: 0 0 36%;
		width: 36%;
	}
	[data-scale="37"] {
		flex-shrink: 0;
		flex: 0 0 37%;
		width: 37%;
	}
	[data-scale="38"] {
		flex-shrink: 0;
		flex: 0 0 38%;
		width: 38%;
	}
	[data-scale="39"] {
		flex-shrink: 0;
		flex: 0 0 39%;
		width: 39%;
	}
	[data-scale="40"] {
		flex-shrink: 0;
		flex: 0 0 40%;
		width: 40%;
	}
	[data-scale="41"] {
		flex-shrink: 0;
		flex: 0 0 41%;
		width: 41%;
	}
	[data-scale="42"] {
		flex-shrink: 0;
		flex: 0 0 42%;
		width: 42%;
	}
	[data-scale="43"] {
		flex-shrink: 0;
		flex: 0 0 43%;
		width: 43%;
	}
	[data-scale="44"] {
		flex-shrink: 0;
		flex: 0 0 44%;
		width: 44%;
	}
	[data-scale="45"] {
		flex-shrink: 0;
		flex: 0 0 45%;
		width: 45%;
	}
	[data-scale="46"] {
		flex-shrink: 0;
		flex: 0 0 46%;
		width: 46%;
	}
	[data-scale="47"] {
		flex-shrink: 0;
		flex: 0 0 47%;
		width: 47%;
	}
	[data-scale="48"] {
		flex-shrink: 0;
		flex: 0 0 48%;
		width: 48%;
	}
	[data-scale="49"] {
		flex-shrink: 0;
		flex: 0 0 49%;
		width: 49%;
	}
	[data-scale="50"] {
		flex-shrink: 0;
		flex: 0 0 50%;
		width: 50%;
	}
	[data-scale="51"] {
		flex-shrink: 0;
		flex: 0 0 51%;
		width: 51%;
	}
	[data-scale="52"] {
		flex-shrink: 0;
		flex: 0 0 52%;
		width: 52%;
	}
	[data-scale="53"] {
		flex-shrink: 0;
		flex: 0 0 53%;
		width: 53%;
	}
	[data-scale="54"] {
		flex-shrink: 0;
		flex: 0 0 54%;
		width: 54%;
	}
	[data-scale="55"] {
		flex-shrink: 0;
		flex: 0 0 55%;
		width: 55%;
	}
	[data-scale="56"] {
		flex-shrink: 0;
		flex: 0 0 56%;
		width: 56%;
	}
	[data-scale="57"] {
		flex-shrink: 0;
		flex: 0 0 57%;
		width: 57%;
	}
	[data-scale="58"] {
		flex-shrink: 0;
		flex: 0 0 58%;
		width: 58%;
	}
	[data-scale="59"] {
		flex-shrink: 0;
		flex: 0 0 59%;
		width: 59%;
	}
	[data-scale="60"] {
		flex-shrink: 0;
		flex: 0 0 60%;
		width: 60%;
	}
	[data-scale="61"] {
		flex-shrink: 0;
		flex: 0 0 61%;
		width: 61%;
	}
	[data-scale="62"] {
		flex-shrink: 0;
		flex: 0 0 62%;
		width: 62%;
	}
	[data-scale="63"] {
		flex-shrink: 0;
		flex: 0 0 63%;
		width: 63%;
	}
	[data-scale="64"] {
		flex-shrink: 0;
		flex: 0 0 64%;
		width: 64%;
	}
	[data-scale="65"] {
		flex-shrink: 0;
		flex: 0 0 65%;
		width: 65%;
	}
	[data-scale="66"] {
		flex-shrink: 0;
		flex: 0 0 66%;
		width: 66%;
	}
	[data-scale="67"] {
		flex-shrink: 0;
		flex: 0 0 67%;
		width: 67%;
	}
	[data-scale="68"] {
		flex-shrink: 0;
		flex: 0 0 68%;
		width: 68%;
	}
	[data-scale="69"] {
		flex-shrink: 0;
		flex: 0 0 69%;
		width: 69%;
	}
	[data-scale="70"] {
		flex-shrink: 0;
		flex: 0 0 70%;
		width: 70%;
	}
	[data-scale="71"] {
		flex-shrink: 0;
		flex: 0 0 71%;
		width: 71%;
	}
	[data-scale="72"] {
		flex-shrink: 0;
		flex: 0 0 72%;
		width: 72%;
	}
	[data-scale="73"] {
		flex-shrink: 0;
		flex: 0 0 73%;
		width: 73%;
	}
	[data-scale="74"] {
		flex-shrink: 0;
		flex: 0 0 74%;
		width: 74%;
	}
	[data-scale="75"] {
		flex-shrink: 0;
		flex: 0 0 75%;
		width: 75%;
	}
	[data-scale="76"] {
		flex-shrink: 0;
		flex: 0 0 76%;
		width: 76%;
	}
	[data-scale="77"] {
		flex-shrink: 0;
		flex: 0 0 77%;
		width: 77%;
	}
	[data-scale="78"] {
		flex-shrink: 0;
		flex: 0 0 78%;
		width: 78%;
	}
	[data-scale="79"] {
		flex-shrink: 0;
		flex: 0 0 79%;
		width: 79%;
	}
	[data-scale="80"] {
		flex-shrink: 0;
		flex: 0 0 80%;
		width: 80%;
	}
	[data-scale="81"] {
		flex-shrink: 0;
		flex: 0 0 81%;
		width: 81%;
	}
	[data-scale="82"] {
		flex-shrink: 0;
		flex: 0 0 82%;
		width: 82%;
	}
	[data-scale="83"] {
		flex-shrink: 0;
		flex: 0 0 83%;
		width: 83%;
	}
	[data-scale="84"] {
		flex-shrink: 0;
		flex: 0 0 84%;
		width: 84%;
	}
	[data-scale="85"] {
		flex-shrink: 0;
		flex: 0 0 85%;
		width: 85%;
	}
	[data-scale="86"] {
		flex-shrink: 0;
		flex: 0 0 86%;
		width: 86%;
	}
	[data-scale="87"] {
		flex-shrink: 0;
		flex: 0 0 87%;
		width: 87%;
	}
	[data-scale="88"] {
		flex-shrink: 0;
		flex: 0 0 88%;
		width: 88%;
	}
	[data-scale="89"] {
		flex-shrink: 0;
		flex: 0 0 89%;
		width: 89%;
	}
	[data-scale="90"] {
		flex-shrink: 0;
		flex: 0 0 90%;
		width: 90%;
	}
	[data-scale="91"] {
		flex-shrink: 0;
		flex: 0 0 91%;
		width: 91%;
	}
	[data-scale="92"] {
		flex-shrink: 0;
		flex: 0 0 92%;
		width: 92%;
	}
	[data-scale="93"] {
		flex-shrink: 0;
		flex: 0 0 93%;
		width: 93%;
	}
	[data-scale="94"] {
		flex-shrink: 0;
		flex: 0 0 94%;
		width: 94%;
	}
	[data-scale="95"] {
		flex-shrink: 0;
		flex: 0 0 95%;
		width: 95%;
	}
	[data-scale="96"] {
		flex-shrink: 0;
		flex: 0 0 96%;
		width: 96%;
	}
	[data-scale="97"] {
		flex-shrink: 0;
		flex: 0 0 97%;
		width: 97%;
	}
	[data-scale="98"] {
		flex-shrink: 0;
		flex: 0 0 98%;
		width: 98%;
	}
	[data-scale="99"] {
		flex-shrink: 0;
		flex: 0 0 99%;
		width: 99%;
	}
	[data-scale="100"] {
		flex-shrink: 0;
		flex: 0 0 100%;
		width: 100%;
	}
}
.item-tile-article  {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	border-radius: 12px;
	background: #FAFAFA;
	font-size: 20px;
	font-weight: 300;
	line-height: normal;
	color: var(--clr-base);
	overflow: hidden;
	position: relative;
	.tile-photo-wrap {
		flex-shrink: 0;
	}
	.tile-user-wrap {
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: normal;
		font-weight: 400;
		margin-bottom: 10px;
		.tile-photo {
			aspect-ratio: 1;
			border-radius: 6px;
			width: 30px;
			flex-shrink: 0;
		}
		.tile-user-title {
			flex: 1;
			padding-left: 10px;
		}
	}
	.tile-info-wrap {
		flex: 1;
		padding: 20px;
	}
	.tile-action-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 20px 20px;
	}
	.tile-info {
		flex: 1;
		font-size: 15px;
		line-height: 24px;
		color: #212421;
	}
	.tile-photo {
		aspect-ratio: 290/200;
	}
	.tile-title {
		display: block;
		font-weight: 300;
	}
	&:hover {
		color: var(--clr-base);
	}
	.btn-action-ico {
		width: 24px;height: 24px;
		flex-shrink: 0;
		rotate: 180deg;
	}
}
.item-tile-main {
	display: flex;
	flex-direction: column;
	background: #FAFAFA;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	font-size: 17px;
	line-height: 28px;
	color: inherit;
	box-shadow: 0 0 5px fade(#000, 30);
	min-height: 100%;
	&:hover {
		
	}
	.tile-photo-wrap {
		flex-shrink: 0;
		width: 100%;
	}
	.tile-info-wrap {
		padding: 15px 20px 26px 20px;
		display: flex;
		flex-direction: column;
		min-height: 510px;
		flex: 1;
	}
	.tile-photo {
		aspect-ratio: 360/225;
	}
	.tile-subtitle {
		font-size: 15px;
		font-weight: 300;
		color: #212421;
		line-height: normal;
		margin: 0 0 20px 0;
	}
	.tile-title {
		display: block;
		font-size: 36px;
		font-weight: 300;
		line-height: normal;
		margin: 0 0 15px 0;
	}
	.tile-info {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 20px;
	}
	&:hover {
		color: inherit;
	}
	.btn {
		height: 39px;
		padding: 0 14px;
		border-radius: 6px;
		border: none;
		font-size: 17px;
		font-weight: 300;
		text-transform: none;
		.button-ico {
			width: 10px;height: 10px;
			margin-left: 8px;
		}
	}
}
.item-tile-new {
	font-size: 20px;
	font-weight: 300;
	line-height: normal;
	color: var(--clr-att);
	transition: all ease 0.2s;
	.tile-date {
		display: block;
		font-size: 15px;
		color: #212421;
		margin-bottom: 4px;
	}
	.tile-title {
		&:after {
			content: "";
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: -2px;
			margin-left: 4px;
			margin-right: -30px;
			width: 24px;
			height: 24px;
			background: url(../img/icons/back.svg) center no-repeat;
			background-size: 100% auto;
			rotate: 180deg;

		}
	}
	&:hover {
		color: var(--clr-att-hover);
	}
}
.item-tile-list {
	font-size: 18px;
	font-weight: 300;
	line-height: normal;
	.tile-letter {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 500;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	.list {
		a {
			display: block;
			padding: 4px 0;
		}
	}
	.letter-count {
		color: rgba(33, 36, 33, 0.50);
		display: inline;
		font-size: 14px;
	}
}
.item-tile-info {
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	.tile-total {
		font-size: 36px;
	}
	.tile-title {
		display: block;
		font-weight: 400;
		margin: 0 0 5px 0;
		color: var(--clr-light);
	}
}
.item-tile-message {
	display: block;
	position: relative;
	flex-shrink: 0;
	font-size: 16px;
	line-height: 20px;
	color: var(--clr-title);
	padding: 11px 20px;
	border-radius: 20px;
	background: #F5F5F8;
	border: 1px solid #F4F4F6;
	text-align: right;
	&.tile-message-out {
		background: #fff;
	}
	.tile-title {
		display: block;
		margin: 0;
		text-align: left;
	}
	.tile-title-text {
		display: block;
		overflow: hidden;
		position: relative;
	}
	.tile-text {
		flex: 1;
	}
	.tile-time {
		display: inline-block;
	}
	.tile-photo {
		margin-left: -10px;
		width: 280px;
		border-radius: 10px;
	}
}
.item-tile-chat {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	color: var(--clr-title);
	padding: 9px 20px;
	position: relative;
	overflow: hidden;
	transition: all ease 0.2s;
	&:hover, &.active {
		background: #F7FAFF;
	}
	&:hover {
		color: var(--clr-title);
	}
	.tile-photo-wrap {
		width: 40px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-left: 16px;
		max-width: calc(100% - 40px);
	}
	.tile-row-wrap {
		display: flex;
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tile-status-wrap {
		flex-shrink: 0;
	}
	.tile-title {
		letter-spacing: 0.16px;
		font-weight: 500;
		margin: 0;
		padding-right: 10px;
		flex: 1;
		&:last-child {
			padding-right: 0;
		}
	}
	.tile-count {
		margin-top: 3px;
	}
	.tile-text {
		flex: 1;
		padding-right: 10px;
		&:last-child {
			padding-right: 0;
		}
	}
	.tile-photo {
		width: 40px;height: 40px;
		border-radius: 50%;
		flex-shrink: 0;
	}
	.tile-text, .tile-title {
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.tile-time, .elm-time {
	white-space: nowrap;
	color: rgba(29, 29, 31, 0.70);
	font-size: 11px;
	display: block;
	position: relative;
	padding-left: 30px;
	line-height: 20px;
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/read.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 0;
		margin-top: -12px;
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                //transform: scale(1.03);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    //transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
	.tile-time, .elm-time {
		height: 14px;
		line-height: 14px;
		border-radius: 7px;
		position: absolute;
		bottom: 5px;right: 5px;
		z-index: 2;
		padding: 0 5px;
		background: rgba(29, 29, 31, 0.70);
		backdrop-filter: blur(3px);
		color: #fff;
		font-size: 11px;
		&:before {
			display: none;
		}
	}
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
    }
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-count, .tile-count {
	display: block;
	flex-shrink: 0;
	height: 15px;
	min-width: 15px;
	border-radius: 8px;
	text-align: center;
	background: #FF4633;
	color: #fff;
	font-size: 10px;
	letter-spacing: 0.8px;
	line-height: 15px;
	padding: 0 4px;
	white-space: nowrap;
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #000;
	height: 27px;
	line-height: 27px;
	border-radius: 5px;
	padding: 0 12px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
@media (min-width: 480px) {
	.item-tile-main {
		.tile-info-wrap {
			min-height: 440px;
		}
	}
}
@media (min-width: 640px) {
	.item-tile-main {
		.tile-info-wrap {
			min-height: 380px;
		}
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.item-tile-list {
		.list {
			columns: 2;
			column-gap: 30px;
			li {
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}
	}
}
@media (min-width: 768px) {
	.item-tile-new {
		display: flex;
		.tile-date {
			line-height: 24px;
			width: 130px;
			padding: 0 10px 0 0;
			margin: 0;
			flex-shrink: 0;
		}
		.tile-title {
			flex: 1;
			max-width: calc(100% - 130px);
			width: 100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.item-tile-list {
		.list {
			columns: 3;
			column-gap: 30px;
			li {
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}
	}
}
@media (min-width: 1024px) {
	.item-tile-calendar {
		color: #121212;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.tile-title {
			margin: 0;
			padding: 0 10px 0 0;
			&:after {
				content: ' ' attr(data-month);
				display: inline;
			}
		}
		.tile-info {
			font-size: 24px;
			line-height: 28px;
			margin: 0;
		}
	}
	.item-tile-scale {
		.tile-scale {
			height: 23px;
			border-radius: 4px;
		}
		.tile-scale-title-wrap {
			display: flex;
		}
	}
	.item-tile-article {
		.tile-photo {
			aspect-ratio: 350/260;
		}
		.tile-info-wrap, .tile-action-wrap {
			padding: 3rem 3rem 20px 3rem;
			margin: 0 auto;
			max-width: 310px;
			width: 100%;
		}
		.tile-action-wrap {
			padding-top: 0;
		}
	}
	.item-tile-main {
		min-height: 480px;
		flex-direction: row;
		border-radius: 12px;
		.tile-photo-wrap {
			width: 50%;
			position: relative;
			padding: 0;
			margin: 0;
		}
		.tile-info-wrap {
			flex: 1;
			min-height: 0;;
			padding: 3rem 5rem 5rem 2rem;
		}
		.tile-photo {
			aspect-ratio: inherit;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 3rem;
		}
		.tile-title {
			font-size: 6.4rem;
		}
		.tile-subtitle {
			margin-bottom: 0;
		}
		.tile-info {
			margin-bottom: 5rem;
		}
	}
}