@charset "UTF-8";

@import 'mixin.less';
@import '01-main.less';
@import '06-structura.less';
@import '02-items.less';
@import '03-content.less';
@import '04-inputs.less';
@import '05-forms.less';
@import 'common.less';
@import 'fonts.less';

/* new styles 08.2025 */
@import '01-main-new.less';
@import '06-structura-new.less';
@import '02-items-new.less';
@import '03-content-new.less';
@import '04-inputs-new.less';
@import '05-forms-new.less';
@import 'common-new.less';
/* end new styles 08.2025 */


/* edits 10.2025 */
.uploaded-files-container {
	margin-top: 10px;
}
.side-info-box {
	.section-title-wrap.js-btn-tgl {
		cursor: pointer;
		margin-bottom: 0;
		transition: all ease 0.2s;
		padding-right: 40px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-menu.svg) center no-repeat;
			background-size: 32px auto;
			top: 50%;right: 8px;
			margin-top: -12px;
			transition: all ease 0.2s;
			filter: var(--filterAttToBase);
		}
		&:hover {
			color: var(--clr-att);
			&:before {
				filter: none;
			}
		}
		&.active {
			&:before {
				rotate: 180deg;
			}
			&~.section-content-wrap {
				height: auto;
				padding-top: 15px;
			}
		}
	}
	.section-title-wrap.js-btn-tgl~.section-content-wrap {
		height: 0;
		position: relative;
		overflow: hidden;
		interpolate-size: allow-keywords;
		transition: all ease 0.2s;
	}
}
/* end edits 10.2025 */
/* edits 12.2025 */
.item-tile-selected-panel {
	&:has(input[type="checkbox"], input[type="radio"]) {
		.tile-action-wrap {
			display: none;
		}
	}
	&:has(input:checked) {
		.tile-action-wrap {
			display: block;
		}
	}
	.tile-action-wrap {
		flex-shrink: 0;
		padding-left: 3rem;;
		align-self: center;
		.btn {
			padding: 0 3rem;
			font-size: 17px;
			font-weight: 300;
		}
	}
}
.elm-tabs-panel {
	border-radius: 8px;
	border: 1px solid #E0E0E0;
	background: #f5f5f5;
	line-height: 1;
	.menu {
		display: flex;
		margin: -1px;
		height: calc(100% + 2px);
		li {
			position: relative;
			flex-shrink: 0;
			height: 100%;
			&:has(+li>.active) {
				&:after {
					display: none;
				}
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 10px;bottom: 10px;right: 0;
				width: 1px;
				background: #E0E0E0;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	.btn {
		border: none;
		background: none;
		color: var(--clr-base);
		border-radius: 8px;;
		padding: 0 1em;
		position: relative;
		z-index: 2;
		height: 100%;
		&:hover {
			background: none;
			color: var(--clr-att);
		}
		&.active {
			color: var(--clr-att);
			background: none;
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 8px;
			border: 1px solid var(--clr-att);
			opacity: 0;
			transition: all ease 0.2s;
		}
	}
}
.page-filter-box {
	.filter-tabs-wrap {
		margin: 0 2rem 0 0;
		min-height: 60px;
	}
	.frm-main-search {
		.form-input {
			font-weight: 400;
			font-size: 17px;
		}
	}
	.elm-tabs-panel {
		.btn {
			font-size: 17px;
			font-weight: 500;
			min-width: (130/17em);
		}
	}
}
@media (max-width: 1399px) {
	.item-tile-selected-panel {
		flex-wrap: wrap;
		.tile-action-wrap {
			width: 100%;
			flex-shrink: 0;
			padding-top: 15px;
			padding-left: calc(3rem + 112px);
		}
	}
	.elm-tabs-panel {
		li {
			flex: 1;
		}
		.btn {
			min-width: 0;
			width: 100%;
		}
	}
	.page-filter-box {
		flex-wrap: wrap;
		.filter-tabs-wrap {
			width: 100%;
			flex-shrink: 0;
			margin-right: 0;
		}
	}
}
@media (max-width: 1023px) {
	.page-filter-box {
		.filter-tabs-wrap {
			margin-bottom: 5px;
		}
		.elm-tabs-panel {
			.btn {
				padding: 0 15px;
				min-width: 0;
			}
		}
	}
	.elm-tabs-panel {
		li {
			flex: 1;
		}
		.btn {
			min-width: 0;
			width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.item-tile-selected-panel {
		.tile-action-wrap {
			padding-left: 0;
		}
	}
}
/* end edits 12.2025 */

