
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<p>© 2024, НейроМаркер</p>
			</div>
			<div class="info-wrap">
				<p>Сделано в <a href="" class="link-studio">Вебуспех <img src="./img/main/studio.svg" alt=""></a></p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main " id="popup-main-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Вход в кабинет</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="select-inner-wrap">
					<div class="item-select-profile js-popup-wrap js-popup-select">
						<a href="" class="btn-popup btn-menu js-btn-popup-toggle"></a>
						<div class="select-content-block js-popup-block">
							<ul class="menu">
								<li>
									<a href="" class="btn-menu active">
										<div class="button-ico">
											<img src="./img/icons/menu03.svg" alt="">
										</div>
										<div class="button-title">
											<div class="button-title-head">Врач</div>
											<div class="button-title-info">Направляющий специалист</div>
										</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-ico">
											<img src="./img/icons/menu04.svg" alt="">
										</div>
										<div class="button-title">
											<div class="button-title-head">Клиника</div>
											<div class="button-title-info">Принимающая организация</div>
										</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu">
										<div class="button-ico">
											<img src="./img/icons/menu02.svg" alt="">
										</div>
										<div class="button-title">
											<div class="button-title-head">Пациент</div>
											<div class="button-title-info">Получатель медицинских услуг</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="email" class="form-input inp-main" placeholder="Ваш e-mail">
					</div>
					<div class="frm-field field-half">
						<div class="frm-field-password">
							<input type="text" class="form-input inp-main" placeholder="Пароль">
							<a href="" class="btn-action-ico ico-password button-active-toggle active js-password-toggle"></a>
						</div>
					</div>
				</div>
				<div class="frm-row-submit row-line">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup-form01">
							<label for="popup-form01">Запомнить пароль</label>
						</div>
						<a href="" class="js-popup-open" data-popup="popup-main-password">Напомнить пароль</a>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn button-main">
							<div class="button-title">Войти</div>
						</button>
					</div>
				</div>
				<div class="frm-row row-login">
					<div class="row-title">Или войдите через</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login01.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login02.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login03.svg" alt="">
							</div>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-main-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Регистрация</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<select class="form-input inp-main" required>
							<option selected disabled hidden value="">Выберите роль</option><!--placeholder-->
							<option>Пункт списка</option>
							<option>Пункт списка</option>
							<option>Пункт списка</option>
							<option>Пункт списка</option>
						</select>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input inp-main" placeholder="Ваше ФИО">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="email" class="form-input inp-main" placeholder="Ваш e-mail">
					</div>
					<div class="frm-field field-half">
						<input type="tel" class="form-input inp-main" placeholder="Телефон">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<div class="frm-field-password">
							<input type="text" class="form-input inp-main" placeholder="Пароль">
							<a href="" class="btn-action-ico ico-password button-active-toggle active js-password-toggle"></a>
						</div>
					</div>
					<div class="frm-field field-half">
						<div class="frm-field-password">
							<input type="text" class="form-input inp-main" placeholder="Пароль">
							<a href="" class="btn-action-ico ico-password button-active-toggle active js-password-toggle"></a>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup-form02">
							<label for="popup-form02">Даю согласие на обработку <a href="">Персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn button-main">
							<div class="button-title">Зарегистрироваться</div>
						</button>
					</div>
				</div>
				<div class="frm-row row-login">
					<div class="row-title">Или войдите через</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login01.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login02.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login03.svg" alt="">
							</div>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-main-password">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Восстановить пароль</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-input inp-main" placeholder="Ваш e-mail">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn button-main">
							<div class="button-title">Востановить пароль</div>
						</button>
					</div>
				</div>
				<div class="frm-row row-login">
					<div class="row-title">Или войдите через</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login01.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login02.svg" alt="">
							</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn button-light">
							<div class="button-ico">
								<img src="./img/icons/login03.svg" alt="">
							</div>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/popup-outer-box-->