<!--form-review-box-->
<form actione="/" class="form-review-box">
	<div class="frm-title-wrap">
		<div class="frm-title">Напишите отзыв</div>
		<p>Опубликованные сообщения являются частными мнениями лиц, их написавших.  <br>Редакция сайта за размещенные сообщения ответственности не несет.</p>
	</div>
	<div class="frm-content-wrap">
		<div class="field-rows-wrap">
			<div class="frm-row row-rate">
				<div class="frm-field field-half">
					<div class="field-title">Оборудование клиники</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set01" id="rate-set01-01">
							<input type="radio" name="rate-set01" id="rate-set01-02">
							<input type="radio" name="rate-set01" id="rate-set01-03">
							<input type="radio" name="rate-set01" id="rate-set01-04">
							<input type="radio" name="rate-set01" id="rate-set01-05">
							<label for="rate-set01-01" class="frm-rate"></label>
							<label for="rate-set01-02" class="frm-rate"></label>
							<label for="rate-set01-03" class="frm-rate"></label>
							<label for="rate-set01-04" class="frm-rate"></label>
							<label for="rate-set01-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
				<div class="frm-field field-half">
					<div class="field-title">Эффективность лечения</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set02" id="rate-set02-01">
							<input type="radio" name="rate-set02" id="rate-set02-02">
							<input type="radio" name="rate-set02" id="rate-set02-03">
							<input type="radio" name="rate-set02" id="rate-set02-04">
							<input type="radio" name="rate-set02" id="rate-set02-05">
							<label for="rate-set02-01" class="frm-rate"></label>
							<label for="rate-set02-02" class="frm-rate"></label>
							<label for="rate-set02-03" class="frm-rate"></label>
							<label for="rate-set02-04" class="frm-rate"></label>
							<label for="rate-set02-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="frm-row row-rate">
				<div class="frm-field field-half">
					<div class="field-title">Качество консультации</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set03" id="rate-set03-01">
							<input type="radio" name="rate-set03" id="rate-set03-02">
							<input type="radio" name="rate-set03" id="rate-set03-03">
							<input type="radio" name="rate-set03" id="rate-set03-04">
							<input type="radio" name="rate-set03" id="rate-set03-05">
							<label for="rate-set03-01" class="frm-rate"></label>
							<label for="rate-set03-02" class="frm-rate"></label>
							<label for="rate-set03-03" class="frm-rate"></label>
							<label for="rate-set03-04" class="frm-rate"></label>
							<label for="rate-set03-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
				<div class="frm-field field-half">
					<div class="field-title">Отношение к пациенту</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set04" id="rate-set04-01">
							<input type="radio" name="rate-set04" id="rate-set04-02">
							<input type="radio" name="rate-set04" id="rate-set04-03">
							<input type="radio" name="rate-set04" id="rate-set04-04">
							<input type="radio" name="rate-set04" id="rate-set04-05">
							<label for="rate-set04-01" class="frm-rate"></label>
							<label for="rate-set04-02" class="frm-rate"></label>
							<label for="rate-set04-03" class="frm-rate"></label>
							<label for="rate-set04-04" class="frm-rate"></label>
							<label for="rate-set04-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="frm-row row-rate">
				<div class="frm-field field-half">
					<div class="field-title">Тщательность обследования</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set05" id="rate-set05-01">
							<input type="radio" name="rate-set05" id="rate-set05-02">
							<input type="radio" name="rate-set05" id="rate-set05-03">
							<input type="radio" name="rate-set05" id="rate-set05-04">
							<input type="radio" name="rate-set05" id="rate-set05-05">
							<label for="rate-set05-01" class="frm-rate"></label>
							<label for="rate-set05-02" class="frm-rate"></label>
							<label for="rate-set05-03" class="frm-rate"></label>
							<label for="rate-set05-04" class="frm-rate"></label>
							<label for="rate-set05-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
				<div class="frm-field field-half">
					<div class="field-title">Информирование пациента</div>
					<div class="field-content">
						<div class="frm-rate-set type-dark">
							<input type="radio" name="rate-set06" id="rate-set06-01">
							<input type="radio" name="rate-set06" id="rate-set06-02">
							<input type="radio" name="rate-set06" id="rate-set06-03">
							<input type="radio" name="rate-set06" id="rate-set06-04">
							<input type="radio" name="rate-set06" id="rate-set06-05">
							<label for="rate-set06-01" class="frm-rate"></label>
							<label for="rate-set06-02" class="frm-rate"></label>
							<label for="rate-set06-03" class="frm-rate"></label>
							<label for="rate-set06-04" class="frm-rate"></label>
							<label for="rate-set06-05" class="frm-rate"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="email" class="form-input" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<textarea class="form-input" placeholder="Текст комментария"></textarea>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="elm-attach">
					<div class="attach-title">Картинка.png  1,2 мб</div>
					<a href="" class="btn-action-ico ico-clear button-file-del js-file-button-del"></a>
				</div>
				<div class="frm-field-file type-second js-field-file">
					<input type="file" class="js-field-input">
					<button type="button" class="btn button-clear button-file-attach js-file-button-attach">
						<div class="button-ico">
							<img src="./img/icons/attach-main.svg" alt="">
						</div>
						<span class="button-title">Прикрепить фото или видео (jpg, png, bmp, mpg4, не тяжелее 10 мб)</span>
					</button>
					<div class="file-inner-wrap">
						<div class="file-name"></div>
						<a href="" class="btn-action-ico ico-trash button-file-del js-file-button-del"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-info">
				<div class="frm-select">
					<input type="checkbox" id="reviewformlarge">
					<label for="reviewformlarge">Нажимая на кнопку Опубликовать,  даю согласие на обработку <a href="">персональных данных</a></label>
				</div>
			</div>
			<div class="frm-field field-submit">
				<button type="submit" class="btn button-second">
					<div class="button-title">Опубликовать</div>
				</button>
			</div>
		</div>
	</div>
</form>
<!--/form-review-box-->