<!--form-review-box-->
<form actione="/" class="form-review-box">
	<div class="frm-title-wrap">
		<div class="frm-title">Напишите свой вопрос</div>
	</div>
	<div class="frm-content-wrap">
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="email" class="form-input" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<textarea class="form-input" placeholder="Текст комментария"></textarea>
				</div>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-info">
				<div class="frm-select">
					<input type="checkbox" id="reviewforminner">
					<label for="reviewforminner">Нажимая на кнопку Опубликовать,  даю согласие на обработку <a href="">персональных данных</a></label>
				</div>
			</div>
			<div class="frm-field field-submit">
				<button type="submit" class="btn button-second">
					<div class="button-title">Опубликовать</div>
				</button>
			</div>
		</div>
	</div>
</form>
<!--/form-review-box-->