<!--form-review-box-->
<form actione="/" class="form-review-box form-main">
	<div class="frm-title-wrap">
		<div class="frm-title">Подбор врача с помощью AI</div>
	</div>
	<div class="frm-content-wrap">
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="email" class="form-input" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input type="text" class="form-input" placeholder="Ваш возраст">
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input list="main01" placeholder="Город" class="form-input">
					<datalist id="main01">
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
					</datalist>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input list="main02" placeholder="Онлайн прием" class="form-input">
					<datalist id="main02">
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
					</datalist>
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-input">
					<input list="main03" placeholder="Клиники" class="form-input">
					<datalist id="main03">
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
						<option>Пункт списка</option>
					</datalist>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<textarea class="form-input" placeholder="Опишите проблему или симптомы"></textarea>
				</div>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-info">
				<div class="frm-select">
					<input type="checkbox" id="reviewformmain">
					<label for="reviewformmain">Нажимая на кнопку Получить персональный подбор,  даю согласие на <a href="">обработку персональных данных</a></label>
				</div>
			</div>
			<div class="frm-field field-submit">
				<button type="submit" class="btn button-second">
					<div class="button-title">Получить персональный подбор</div>
				</button>
			</div>
		</div>
	</div>
</form>
<!--/form-review-box-->