<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu active">
								<div class="button-title">Заявки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Арбитраж</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Переписка</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="actions-header-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action-ico ico-notify"></a>
			</div>
			<div class="user-wrap">
				<a href="" class="elm-photo photo-cover">
					<img src="./img/main/user.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->