<!--page-title-box-->
<div class="page-title-box">
	<div class="title-wrap">
		<div class="section-title h1-title title-mobile-large">Вопросы /  ответы</div>
	</div>
	<div class="button-wrap elm-hidden-mobile">
		<a href="" class="btn button-second">
			<div class="button-title">Задать свой вопрос </div>
		</a>
	</div>
</div>
<!--/page-title-box-->
<!--tiles-box-->
<div class="tiles-box">
	<div class="items-wrap items-question">
		<!--item wrap-->
		<div class="item-wrap">
			<div class="item-tile-question">
				<div class="tile-button js-btn-tgl">
					<div class="button-title">What is Mobbin?</div>
				</div>
				<div class="tile-content-wrap">
					<p>Многопрофильный медицинский центр. Обследование взрослых и детей с рождения. Расположен в 1-2 мин. ходьбы от м. Пл. Ильича. Прием происходит по предварительной записи. Виды диагностик: КТ, МСКТ, УЗИ (3D,4D, дуплексное сканирование), гастроскопия (ЭФГДС), колоноскопия, бронхоскопия, биопсия, рентген и флюрография с минимальной лучевой нагрузкой, функциональная диагностика (СМАД, ХОЛТЕР, ЭЭГ, ЭНМГ, ЭКГ, спирометрия и др.); КТ в клинике проводят на аппарате premium класса Toshiba Aquilion Prime (160 срезов), максимальный вес пациента – до 130 кг, исследования делают с контрастом и без. В клинике прием ведут более 300 врачей по 40 специализациям, среди которых ДМН, КМН, а так же врачи высшей категории.</p>
				</div>
			</div>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<div class="item-tile-question">
				<div class="tile-button js-btn-tgl">
					<div class="button-title">How often do you update the library?</div>
				</div>
				<div class="tile-content-wrap">
					<p>Многопрофильный медицинский центр. Обследование взрослых и детей с рождения. Расположен в 1-2 мин. ходьбы от м. Пл. Ильича. Прием происходит по предварительной записи. Виды диагностик: КТ, МСКТ, УЗИ (3D,4D, дуплексное сканирование), гастроскопия (ЭФГДС), колоноскопия, бронхоскопия, биопсия, рентген и флюрография с минимальной лучевой нагрузкой, функциональная диагностика (СМАД, ХОЛТЕР, ЭЭГ, ЭНМГ, ЭКГ, спирометрия и др.); КТ в клинике проводят на аппарате premium класса Toshiba Aquilion Prime (160 срезов), максимальный вес пациента – до 130 кг, исследования делают с контрастом и без. В клинике прием ведут более 300 врачей по 40 специализациям, среди которых ДМН, КМН, а так же врачи высшей категории.</p>
				</div>
			</div>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<div class="item-tile-question">
				<div class="tile-button js-btn-tgl">
					<div class="button-title">Can I get a free trial?</div>
				</div>
				<div class="tile-content-wrap">
					<p>Многопрофильный медицинский центр. Обследование взрослых и детей с рождения. Расположен в 1-2 мин. ходьбы от м. Пл. Ильича. Прием происходит по предварительной записи. Виды диагностик: КТ, МСКТ, УЗИ (3D,4D, дуплексное сканирование), гастроскопия (ЭФГДС), колоноскопия, бронхоскопия, биопсия, рентген и флюрография с минимальной лучевой нагрузкой, функциональная диагностика (СМАД, ХОЛТЕР, ЭЭГ, ЭНМГ, ЭКГ, спирометрия и др.); КТ в клинике проводят на аппарате premium класса Toshiba Aquilion Prime (160 срезов), максимальный вес пациента – до 130 кг, исследования делают с контрастом и без. В клинике прием ведут более 300 врачей по 40 специализациям, среди которых ДМН, КМН, а так же врачи высшей категории.</p>
				</div>
			</div>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<div class="item-tile-question">
				<div class="tile-button js-btn-tgl">
					<div class="button-title">Do you have a monthly plan?</div>
				</div>
				<div class="tile-content-wrap">
					<p>Многопрофильный медицинский центр. Обследование взрослых и детей с рождения. Расположен в 1-2 мин. ходьбы от м. Пл. Ильича. Прием происходит по предварительной записи. Виды диагностик: КТ, МСКТ, УЗИ (3D,4D, дуплексное сканирование), гастроскопия (ЭФГДС), колоноскопия, бронхоскопия, биопсия, рентген и флюрография с минимальной лучевой нагрузкой, функциональная диагностика (СМАД, ХОЛТЕР, ЭЭГ, ЭНМГ, ЭКГ, спирометрия и др.); КТ в клинике проводят на аппарате premium класса Toshiba Aquilion Prime (160 срезов), максимальный вес пациента – до 130 кг, исследования делают с контрастом и без. В клинике прием ведут более 300 врачей по 40 специализациям, среди которых ДМН, КМН, а так же врачи высшей категории.</p>
				</div>
			</div>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<div class="item-tile-question">
				<div class="tile-button js-btn-tgl">
					<div class="button-title">Do you have discounts for students and educators?</div>
				</div>
				<div class="tile-content-wrap">
					<p>Многопрофильный медицинский центр. Обследование взрослых и детей с рождения. Расположен в 1-2 мин. ходьбы от м. Пл. Ильича. Прием происходит по предварительной записи. Виды диагностик: КТ, МСКТ, УЗИ (3D,4D, дуплексное сканирование), гастроскопия (ЭФГДС), колоноскопия, бронхоскопия, биопсия, рентген и флюрография с минимальной лучевой нагрузкой, функциональная диагностика (СМАД, ХОЛТЕР, ЭЭГ, ЭНМГ, ЭКГ, спирометрия и др.); КТ в клинике проводят на аппарате premium класса Toshiba Aquilion Prime (160 срезов), максимальный вес пациента – до 130 кг, исследования делают с контрастом и без. В клинике прием ведут более 300 врачей по 40 специализациям, среди которых ДМН, КМН, а так же врачи высшей категории.</p>
				</div>
			</div>
		</div>
		<!--/item wrap-->
	</div>
	<div class="more-box elm-hidden-desktop">
		<a href="" class="btn button-second">
			<div class="button-title">Задать свой вопрос </div>
		</a>
	</div>
</div>
<!--/tiles-box-->