<!--search-panel-box-->
<div class="search-panel-box">
	<form action="/" class="form-inner-wrap">
		<div class="field-input">
			<input type="text" class="form-input" placeholder="Найти">
		</div>
		<div class="field-action">
			<a href="" class="btn-action-ico">
				<img src="./img/icons/main-filter.svg" alt="">
			</a>
		</div>
		<div class="field-submit">
			<button type="submit" class="btn-action-ico">
				<img src="./img/icons/main-send.svg" alt="">
			</button>
		</div>
	</form>
</div>
<!--/search-panel-box-->