<!--side-title-box-->
<div class="side-title-box">
	<div class="section-title">Больше всего заявок  на&nbsp;лечение по&nbsp;направлениям</div>
</div>
<!--/side-title-box-->
<!--side-tiles-box-->
<div class="side-tiles-box">
	<div class="items-wrap">
		<!--item wrap-->
		<div class="item-wrap">
			<a href="" class="item-tile-side-direction">
				<div class="tile-title-wrap">
					<div class="tile-title">Кардиология</div>
				</div>
				<div class="tile-info-wrap">
					<div class="tile-total">300</div>
					<div class="tile-info">заявок в день</div>
				</div>
			</a>
		</div>
		<!--/item wrap-->
		
		<!--item wrap-->
		<div class="item-wrap">
			<a href="" class="item-tile-side-direction">
				<div class="tile-title-wrap">
					<div class="tile-title">Ортопедия</div>
				</div>
				<div class="tile-info-wrap">
					<div class="tile-total">250</div>
					<div class="tile-info">заявок в день</div>
				</div>
			</a>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<a href="" class="item-tile-side-direction">
				<div class="tile-title-wrap">
					<div class="tile-title">Онкология</div>
				</div>
				<div class="tile-info-wrap">
					<div class="tile-total">100</div>
					<div class="tile-info">заявок в день</div>
				</div>
			</a>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<a href="" class="item-tile-side-direction">
				<div class="tile-title-wrap">
					<div class="tile-title">Неврология</div>
				</div>
				<div class="tile-info-wrap">
					<div class="tile-total">50</div>
					<div class="tile-info">заявок в день</div>
				</div>
			</a>
		</div>
		<!--/item wrap-->
		<!--item wrap-->
		<div class="item-wrap">
			<a href="" class="item-tile-side-direction">
				<div class="tile-title-wrap">
					<div class="tile-title">Гастроэнтерология</div>
				</div>
				<div class="tile-info-wrap">
					<div class="tile-total">12</div>
					<div class="tile-info">заявок в день</div>
				</div>
			</a>
		</div>
		<!--/item wrap-->
	</div>
	<div class="more-box">
		<a href="" class="btn-action-toggle button-right">
			<div class="button-title">Все направления</div>
		</a>
	</div>
</div>
<!--/side-tiles-box-->